<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/bariloche-barilocheorg-verano2021-fotofranciscoraggio-fotobarilocheorg-patagonia-argentina-lagonahuelhuapi-cartelbariloche.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bariloche</h5>
          <p class="card-text">San Carlos de Bariloche es una ciudad de Argentina, en el sudoeste de la provincia de Río Negro. Es la ciudad más poblada de los Andes Patagónicos y es considerada la entrada a la Patagonia Argentina y capital de los lagos del Sur. A 850 metros sobre el nivel del mar, Bariloche se ubica lindante al Parque Nacional Nahuel Huapi, junto a la cordillera de los Andes, en la ribera sur del lago Nahuel Huapi.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/Sierra-de-los-padres-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sierra de los Padres</h5>
          <p class="card-text">Sierra de los Padres es una localidad del partido de General Pueyrredón, provincia de Buenos Aires, Argentina. En principio se relacionó a esta localidad con un área restringida similar a un barrio residencial, pero la población estable comenzó a requerir mayor identidad</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/ciudaddecordoba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cordoba</h5>
          <p class="card-text">
            La Provincia de Córdoba es un destino ideal para experimentar las más diversas sensaciones que a un viajero le puedan provocar placer. Con una indeleble impronta cultural e histórica, nuestro territorio combina tradición, modernidad y una excepcional riqueza paisajística. Por la variedad de destinos que propone su geografía, es un lugar donde el turista podrá disfrutar todo el año propuestas siempre novedosas.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/0524-san-juan-atractivos-perdidos-entre-cerros-y-fincas-historicas-708488.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">San Juan</h5>
          <p class="card-text">San Juan es una ciudad en el valle al este de la cordillera de los Andes, en la zona central occidental de Argentina. En el centro está la Casa Natal de Sarmiento, donde nació el presidente del siglo XIX y escritor Domingo Faustino Sarmiento. Cerca está el Museo Provincial de Bellas Artes Franklin Rawson, que exhibe pinturas de artistas argentinos y europeos. El Museo Histórico Provincial Agustín Gnecco exhibe muebles, estampillas y monedas locales.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../../assets/img/mendoza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mendoza</h5>
            <p class="card-text">Mendoza es una ciudad del oeste de Argentina y capital de la provincia homónima. Se localiza en la llanura al este de la cordillera de los Andes. Es una de las principales ciudades del país, y con su aglomerado urbano, denominado Gran Mendoza alcanza una población total que supera el millón de habitantes</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/tucuman.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tucuman</h5>
            <p class="card-text">San Miguel de Tucumán es la capital de la provincia de Tucumán, en el noroeste de Argentina. La Plaza Independencia, el núcleo ajetreado de la ciudad, alberga una catedral neoclásica y la gran Casa de Gobierno modernista. El Museo Casa Padilla, antiguo hogar de una prominente familia local, tiene arte y muebles del siglo XIX. El Museo Casa Histórica de la Independencia conmemora la emancipación argentina del régimen español en 1816</p>
          </div>
        </div>
      </div>
  </div>